/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    flex-wrap: nowrap;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

/* ---------------------------------------------------
    DATATABLE
----------------------------------------------------- */

.container-fluid {
    padding: 40px;
}

table {
    text-align: center;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 0 0 10px;
}

/* ---------------------------------------------------
    MODAL
----------------------------------------------------- */

.body_info {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.form_modal {
    padding: 0;
}

.btn-info-container {
    padding-right: 10px;
}

.large_text {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.5;
    margin-top: 0.4rem;
}

.body_info > p.badge.badge-secondary {
    color: black;
    background-color: aliceblue;
}

.was-validated .custom-select:invalid + .select2 .select2-selection {
    border-color: #dc3545!important;
}
.was-validated .custom-select:valid + .select2 .select2-selection{
    border-color: #28a745!important;
}
*:focus{
    outline:0px;
}
