body, html {
  height: 100%;
}

body {
	padding: 0;
    overflow-x: hidden;
}

.content {
	height: 100%;
	background-color: #fafafa;
}

.wrapper {

}

/* ---------------------------------------------------
    LOGIN
----------------------------------------------------- */

.signup {
	margin-top: 115px;
}


/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    flex-wrap: nowrap;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

/* ---------------------------------------------------
    DATATABLE
----------------------------------------------------- */

.container-fluid {
    padding: 40px;
    background-color: rgba(250,250,250,0.9);
    border-radius: 10px;
}

.container-crud {
	margin-top: 40px;
	padding: 20px;
    background-color: rgba(250,250,250,0.9);
    border-radius: 10px;
}

table {
    text-align: center;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 0 0 10px;
}

/* ---------------------------------------------------
    MODAL
----------------------------------------------------- */

.body_info {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.form_modal {
    padding: 0;
}

.btn-info-container {
    padding-right: 10px;
}

.large_text {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.5;
    margin-top: 0.4rem;
}

.body_info > p.badge.badge-secondary {
    color: black;
    background-color: aliceblue;
}

.required {
    color: tomato;
    font-size: 0.6rem;
}

.asterisk-required {
    color: tomato;
    font-size: 0.8rem;
}

.modal-title {
    width: 100%;
}

div.body_info > div.row {
    padding-bottom: 10px;
}

div.body_info > div.row > p {
    color: black;
}

.badge-secondary {
    background-color: #eceff1;
    color: #29434e;
    font-size: 0.8em;
}

.was-validated .custom-select:invalid + .select2 .select2-selection {
    border-color: #dc3545!important;
}
.was-validated .custom-select:valid + .select2 .select2-selection{
    border-color: #28a745!important;
}
*:focus{
    outline:0px;
}
